<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loco.aroundme.mapper.CircleMapper">

	<!-- 모임 등록 -->
	<!-- id 시퀀스, userId, maxmember, member, circleStatus 넣어주세용 -->
	<insert id="insertCircle" parameterType="com.loco.aroundme.domain.Circle">
    INSERT INTO CIRCLE (
        CIRCLE_ID, USER_ID, CIRCLE_NAME, CIRCLE_CATEGORY, CIRCLE_DATE,
        CIRCLE_MAXMEMBER, CIRCLE_MEMBER, CIRCLE_DETAIL, CIRCLE_ADDRESS,
        CIRCLE_LAT, CIRCLE_LNG, CIRCLE_PLACE_ID, PICTURE_ID, PICTURE_URL
    ) VALUES (
        Circle_SEQ.NEXTVAL, #{userId}, #{circleName}, #{circleCategory},
        TO_TIMESTAMP(#{circleDate}, 'YYYY-MM-DD HH24:MI:SS'),
        #{circleMaxMember}, #{circleMember},
        #{circleDetail}, #{circleAddress}, #{circleLat}, #{circleLng},
        #{circlePlaceId}, #{pictureId}, #{pictureUrl}
    )
</insert>

	<!-- ✅ 특정 날짜의 모임 조회 -->
	<select id="findCirclesByDate" parameterType="string"
		resultType="com.loco.aroundme.domain.Circle">
		SELECT * FROM CIRCLE WHERE TO_CHAR(CIRCLE_DATE,
		'YYYY-MM-DD') = #{date}
	</select>

	<!-- ✅ 모든 모임 조회 -->
	<select id="findAllCircles"
		resultType="com.loco.aroundme.domain.Circle">
		SELECT * FROM CIRCLE ORDER BY CIRCLE_DATE DESC
	</select>
	<!-- ✅ 모임 삭제 -->
	<delete id="deleteCircle" parameterType="long">
		DELETE FROM CIRCLE WHERE
		CIRCLE_ID = #{circleId}
	</delete>
	<!-- ✅ 모임 인원 추가 -->
	<update id="updateMemberCount" parameterType="long">
		UPDATE CIRCLE
		SET CIRCLE_MEMBER = CIRCLE_MEMBER + 1
		WHERE CIRCLE_ID =
		#{circleId}
		AND <![CDATA[CIRCLE_MEMBER < CIRCLE_MAXMEMBER]]>
	</update>


	<!-- ✅ 모임 정보 업데이트 -->
	<update id="updateCircle">
    UPDATE circle
    SET 
        circle_name = #{circleName},
        circle_category = #{circleCategory},
        circle_date = #{circleDate},
        circle_maxmember = #{circleMaxMember},
        circle_detail = #{circleDetail},
        circle_address = #{circleAddress},
        circle_lat = #{circleLat},
        circle_lng = #{circleLng},
        circle_place_id = #{circlePlaceId},
        picture_url = #{pictureUrl}
    WHERE circle_id = #{circleId}
</update>

</mapper>


