<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loco.aroundme.mapper.CircleMapper">

	<!-- 모임 등록 -->
	<!-- id 시퀀스, userId, maxmember, member, circleStatus 넣어주세용 -->
	<insert id="insertCircle"
		parameterType="com.loco.aroundme.domain.Circle">
		INSERT INTO CIRCLE (
		CIRCLE_ID, USER_ID, CIRCLE_NAME, CIRCLE_DATE, CIRCLE_CATEGORY, CIRCLE_DETAIL,
		CIRCLE_REGDATE, CIRCLE_ADDRESS, CIRCLE_LAT, CIRCLE_LNG,
		CIRCLE_PLACE_ID,
		CIRCLE_MAXMEMBER, PICTURE_ID, PICTURE_URL
		) VALUES (
		CIRCLE_SEQ.NEXTVAL, #{userId},
		#{circleName},
		#{circleDate, jdbcType=TIMESTAMP},
		#{circleCategory},
		#{circleDetail},
		CURRENT_TIMESTAMP,
		#{circleAddress},
		#{circleLat},
		#{circleLng},
		#{circlePlaceId},
		#{circleMaxMember, jdbcType=INTEGER}, <!-- ✅ INT 타입으로 명시 -->
		#{pictureId, jdbcType=VARCHAR},
		#{pictureUrl, jdbcType=CLOB}
		)
	</insert>

	<!-- ✅ 특정 날짜의 모임 조회 -->
	<select id="findCirclesByDate" parameterType="string"
		resultType="com.loco.aroundme.domain.Circle">
		SELECT * FROM CIRCLE WHERE TO_CHAR(CIRCLE_DATE, 'YYYY-MM-DD') = #{date}
	</select>

	<!-- ✅ 모든 모임 조회 -->
	<select id="findAllCircles"
		resultType="com.loco.aroundme.domain.Circle">
		SELECT * FROM CIRCLE ORDER BY CIRCLE_DATE DESC
	</select>
	<!-- ✅ 모임 삭제 -->
	<delete id="deleteCircle" parameterType="long">
		DELETE FROM CIRCLE WHERE CIRCLE_ID = #{circleId}
	</delete>
</mapper>
