<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.loco.aroundme.mapper.GoogleUsersMapper">

	<select id="findByGoogleId" parameterType="String"
		resultType="com.loco.aroundme.domain.GoogleUsers">
		SELECT * FROM GOOGLE_USERS WHERE GOOGLE_ID = #{googleId}
	</select>

	<insert id="insertGoogleUser">
		INSERT INTO GOOGLE_USERS (GOOGLE_ID, USER_EMAIL, USER_NAME, SYS_FILE, ORIGIN_FILE, ROLE_ID, USER_REGDATE)
		VALUES (#{googleId}, #{userEmail}, #{userName}, #{sysFile}, #{originFile}, #{roleId}, SYSDATE)
	</insert>


</mapper>
