<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.loco.aroundme.mapper.UsersMapper">

	<!-- <select id="list" resultType="com.loco.aroundme.domain.Users"> SELECT 
		* FROM Users ORDER BY USER_ID DESC </select> -->

	<!-- 회원 조회 (이메일로 검색) -->
    <select id="read" parameterType="String"
        resultType="com.loco.aroundme.domain.Users">
        SELECT 
            USER_ID, USER_EMAIL, PASSWORD, ROLE_ID, USER_NAME, GENDER,
            MOBILE1, MOBILE2, MOBILE3, PHONE1, PHONE2, PHONE3,
            BIRTH, ZIPCODE, ADDRESS1, ADDRESS2, USER_REGDATE, ORIGIN_USER, SYS_USER
        FROM USERS 
        WHERE USER_EMAIL = #{userEmail}
    </select>

	<!-- 회원가입 -->
	<insert id="insertUser"
		parameterType="com.loco.aroundme.domain.Users">
		INSERT INTO USERS (
		USER_ID, USER_EMAIL, PASSWORD, ROLE_ID, USER_NAME, GENDER,
		MOBILE1, MOBILE2, MOBILE3, PHONE1, PHONE2, PHONE3,
		BIRTH, ZIPCODE, ADDRESS1, ADDRESS2, USER_REGDATE, ORIGIN_USER, SYS_USER
		) VALUES (
		USERS_SEQ.NEXTVAL, #{userEmail}, #{password}, #{roleId}, #{userName}, #{gender},
		#{mobile1}, #{mobile2}, #{mobile3},
		<if test="phone1 != null">#{phone1}</if>
		<if test="phone1 == null">NULL</if>
		,
		<if test="phone2 != null">#{phone2}</if>
		<if test="phone2 == null">NULL</if>
		,
		<if test="phone3 != null">#{phone3}</if>
		<if test="phone3 == null">NULL</if>
		,
		#{birth}, #{zipcode}, #{address1},
		<if test="address2 != null">#{address2}</if>
		<if test="address2 == null">NULL</if>
		,
		SYSDATE, #{originUser}, #{sysUser}
		)
	</insert>


</mapper>
