.CircleList > .menubar {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 10px;
}
.menubar > select {
  width: 132px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 900;
  border: 1px solid;
  background-color: white;
  border-radius: 5px;
}

.new-button {
  font-size: 16px;
  font-weight: 900;
  border: none;
  border-radius: 5px;
  flex: 0.3;
}

.menubar > Button:hover {
  background-color: rgb(172, 171, 171);
}
