.search-result-page-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.search-result-filter-section {
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.search-result-filter-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
}

.search-result-filter-body {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-result-page-input {
  padding: 10px;
  width: 70%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.search-result-row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.search-result-filter-row {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 200px;
}

.search-result-filter-row label {
  font-weight: bold;
}

.search-result-filter-row select,
.search-result-filter-row input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.search-result-filter-apply-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.search-result-filter-row select,
.search-result-filter-row input {
  padding: 10px;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  box-sizing: border-box;
}

.search-result-filter-apply-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

.search-result-apply-button {
  padding: 12px;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  background-color: rgba(0, 0, 0, 1);
  color: white;
  width: 100%;
  max-width: 400px;
}

.search-result-apply-button:hover {
  background-color: rgba(177, 121, 241, 0.6);
}

.search-result-club-results {
  margin-top: 20px;
}
