#auth-wrapper {
  padding: 100px 0px 150px;
  min-width: 1200px;
  height: calc(100vh - 64px - 100px - 150px);
  min-height: 500px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("@/assets/images/auth-page.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.auth-container {
  width: 400px;
  padding: 30px;
  border: 1px solid #ddd;
  border-radius: 10px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.input-group input {
  width: 375px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.find-email-btn {
  width: 400px;
  padding: 12px;
  border: none;
  border-radius: 5px;
  background-color: #3b82f6;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.find-email-btn:hover {
  background-color: #2563eb;
}

.email-result {
  margin-top: 20px;
  padding: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  background-color: #f8f9fa;
  border: 2px solid #007bff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 91%;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.email-result strong {
  color: #007bff;
  font-size: 20px;
}
