/* .google-login-btn {
  width: 320px;
  height: 44px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.google-login-btn:hover {
  background-color: #f5f5f5;
} */
