.kakao-login-btn {
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 44px;
  border-radius: 5px;
  background-color: #fee500;
  border: none;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  color: #3c1e1e;
  margin-bottom: 10px;
}


.kakao-login-btn:hover {
  background-color: #fdd835;
}