/* 전체 컨테이너 */
.qnanew-list-container {
  width: 70%;
  margin: auto;
  font-family: Arial, sans-serif;
  padding: 100px 100px;
}

/* 헤더 스타일 */
.qnanew-header {
  color: black;
  padding: 40px;
  text-align: center;
  font-size: 24px;
  border-radius: 8px 8px 0 0;
}

.qnanew-header .qnanew-title {
  font-weight: bold;
}

/* 입력 영역 스타일 */
.qnanew-editor {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 0 0 8px 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.qnanew-editor .qnanew-input {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.qnanew-editor .qnanew-input .qnanew-input-field,
.qnanew-editor .qnanew-input .qnanew-textarea {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  transition: border-color 0.3s ease;
}

.qnanew-editor .qnanew-input .qnanew-input-field:focus,
.qnanew-editor .qnanew-input .qnanew-textarea:focus {
  border-color: #f2e7f3;
}

/* 텍스트 영역 스타일 */
.qnanew-editor .qnanew-input .qnanew-textarea {
  resize: vertical;
  min-height: 200px;
}

/* 버튼 스타일 */
.qnanew-notice-button {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.qnanew-notice-button button {
  font-size: 18px;
  font-weight: bold;
  padding: 15px 30px;
  border: none;
  border-radius: 5px;
  color: whitesmoke;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
  background-color: #7e717e;
}

.qnanew-notice-button button:hover {
  transform: scale(1.05);
  background-color: #423642;
}

/* 취소 버튼 스타일 */
.qnanew-notice-button button:nth-child(1) {
  background-color: hsl(0, 6%, 80%);
}

.qnanew-notice-button button:nth-child(1):hover {
  background-color: #423642;
}

/* 비활성화된 버튼 스타일 */
.qnanew-notice-button button:disabled {
  background-color: #9f9f9f;
  cursor: not-allowed;
}
