.admin-notice-container {
  width: 100%;
  background: white;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.admin-notice-container button {
  background: #0078d7;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.admin-notice-table {
  width: 100%;
  border-collapse: collapse;
}

.admin-notice-table th,
.admin-notice-table td {
  padding: 12px;
  border: 1px solid #ddd;
}

.admin-notice-table th {
  background: rgba(177, 121, 241, 0.6);
  color: white;
}

.admin-notice-table th:hover {
  background: rgba(177, 121, 241, 0.8);
}

.admin-notice-table button {
  background: rgb(197, 59, 59);
  color: white;
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  cursor: pointer;
}
